body{
  font-family: Roboto Condensed, sans-serif;
}

header{
  background-color: black;
  margin-bottom: 0px;
  height: 215px;
}

.portfolio1{
  text-align: left;
  color: white;
  font-size: 100px;
  height: 80px;
}

.portfolio1 p{
  position: relative;
  right: 9px;
  bottom: 40px;
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}

ul{
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

.porfolio2{
  text-align: right;
  color: white;
  font-size: 100px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 9px;
  bottom: 82px;
}
.portfolio2 p{
  position: relative;
  left: 9px;
  top: 400px;
  margin: 0;
  padding: 0;
}

.primero{
  border: 2px solid black;
  padding: 30px;
  background-color: none;
  color: pink;
  text-align: left;
}


img{
  max-width: 100px;
}
